@import "tailwindcss";

@font-face {
  font-family: "Raleway";
  src: url(assets/fonts/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url(assets/fonts/Raleway-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url(assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

.custom-input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}
